 @media (max-width: 450px)
{
    .left-item
    {
    	font-size: 15px;
    }   
}
 @media (max-width: 600px)
{
    .information__picture_src
    {
      padding: 0PX;
    }
}
@media (min-width: 1158px)
{
    .left-item
    {
	font-size: 26px;
    }
}