 .information
 {
 	border: 2px double;
 	border-color: #1dacd6;
 	background: none repeat scroll 0 0 #FFFFCC;


 }
 .left-item
 {
	margin-top: 10px;
	margin-bottom: 10px;
 }
 .row
 {
 	padding: 1px;
 	margin-left: 20px;
 }
 .information__picture
{ 
	display: flex;
	justify-content: center;
	margin-top: 200px;
}