.navigation
{

	  font-family: Georgia, 'Times New Roman', Times, serif;
	  color: $black_col;
    .navbar-header
    {
        margin-top: 30px;
    }
    .collapse
    {
        float: left;
        margin-left: 50px;
    }

	.navbar-default
	{
	background: $white_col;
	}
    .navigation__logo
    {
	margin-top: 10px;
	@include centerCompanent;
    }
    
    .navigation__main-menu
    {
	    @include centerCompanent;
        @include hover;
		margin-top: 30px;
        font-size: 18px;
        .button_block
        {

        float: right;
	    margin-left: 60px;
        margin-top: -5px;
	    padding-left: 40px;
        }
    }
    .navigation__sub-menu
    {
		 @include hover;
	margin-top: 0px;
	margin-left: 110px;
	text-transform: initial;
    }
    .ico_header
    {
        margin-left: 80px;
    }
    .but_rad
    {
	    border-radius: 0px;
    }
}

