@media (max-width: 450px)
{
	.promo-overlay
	{	
	font-size: 8px;	
	}
	.button-overlay
	{
		font-size: 12px;
	}
	.-width400px
	{
		font-size: 24px;
	}
}
@media (max-width: 900px)
{
.information_picture
{
	width: 100%!important;
}
}
@media (max-width: 1300px)
{
.information_picture
{
	width: 50%
}
}
.promo
{
	background-size: auto;
}
.promo-picture
{
	position: relative;
	-webkit-moz-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0px;
}
.promo-overlay
{	
	color: White;
	position: absolute;
	margin-left: 8px;
	margin-right: 8px;
	
}
.button-overlay
{
	margin-top: 40px;
}
.text-overlay
{
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}
}
