$white_col:#ffffff;
$black_col:#000000;
$light-border:#ccc;
.-borders
{
	margin-top: 50px;
}
$color:#01cbf3;
._pad
{
    margin-left: 20px;
    text-align: center;
    margin-top: 6px;
}
.container
{
display: flex;
width: 80%;
}