@media (max-width: 423px)
{
	.navigation
	{
		font-size:14px;
	}
}
@media (min-width: 424px) and (max-width: 750px) { 

.navigation
	{
		font-size:14px;
	}
}
@media (min-width:750px ) and (max-width: 970px) { 

.navigation
	{
		font-size:14px;
	}
}

@media (min-width: 970px) and (max-width: 1200px)
{
	.navigation__sub-menu
	{
	display: flex;
	justify-content: center;
	}

	.navbar-toggle
	{
		margin-left: 350px;
	}

}

.navigation
{
	  font-family: Georgia, 'Times New Roman', Times, serif;
	  color: Black;

}
.button_block
{
	
	margin-top: -3px;
}
.navigation__main-menu
{
	display: block;
    justify-content: left;
    
}
.ico_header
{
 margin-left: 80px;

}
.but_rad
{
	border-radius: 0px;
}
.button_block
{
	float: right;
}